// main color (middle of the colour range)
c-primary = hsl(207, 61%, 49%)

// colours lighter than the main color (higher = lighter)
c-primary-l-1 = hsl(207, 60%, 62%)
c-primary-l-2 = hsl(207, 79%, 81%)
c-primary-l-3 = hsl(207, 100%, 97%)

// colours darker than the main color (higher = darker)
c-primary-d-1 = hsl(207, 64%, 39%)
c-primary-d-2 = hsl(207, 63%, 27%)
c-primary-d-3 = hsl(207, 45%, 23%)

// neutral color (middle of the colour range)
c-neutral = hsl(207, 18%, 76%)

c-neutral-l-1 = hsl(212, 19%, 84%)
c-neutral-l-2 = hsl(207, 22%, 90%)
c-neutral-l-3 = hsl(210, 17%, 98%)
// brightest color - full white
c-neutral-l-4 = hsl(210, 24%, 100%)

c-neutral-d-1 = hsl(215, 15%, 59%)
c-neutral-d-2 = hsl(213, 12%, 43%)
c-neutral-d-3 = hsl(215, 22%, 17%)


// accent color
c-accent-one = hsl(174, 49%, 46%)

c-accent-one-l-1 = hsl(178, 57%, 64%)
c-accent-one-l-2 = hsl(177, 67%, 80%)
c-accent-one-l-3 = hsl(178, 100%, 95%)

c-accent-one-d-1 = hsl(174, 55%, 37%)
c-accent-one-d-2 = hsl(174, 58%, 25%)
c-accent-one-d-3 = hsl(179, 59%, 17%)


// danger
c-danger = hsl(0, 70%, 52%)

c-danger-l-1 = hsl(0, 69%, 64%)
c-danger-l-2 = hsl(0, 77%, 81%)
c-danger-l-3 = hsl(357, 62%, 94%)

c-danger-d-1 = hsl(0, 70%, 42%)
c-danger-d-2 = hsl(0, 67%, 32%)
c-danger-d-3 = hsl(0, 60%, 24%)

// warning
c-warning = hsl(43, 87%, 67%)

c-warning-l-1 = hsl(44, 90%, 80%)
c-warning-l-2 = hsl(44, 90%, 92%)
c-warning-l-3 = hsl(44, 100%, 98%)

c-warning-d-1 = hsl(44, 57%, 52%)
c-warning-d-2 = hsl(43, 64%, 34%)
c-warning-d-3 = hsl(44, 66%, 22%)

// success
c-success = hsl(145, 55%, 49%)

c-success-l-1 = hsl(146, 57%, 65%)
c-success-l-2 = hsl(141, 67%, 80%)
c-success-l-3 = hsl(142, 81%, 94%)

c-success-d-1 = hsl(146, 62%, 38%)
c-success-d-2 = hsl(146, 65%, 28%)
c-success-d-3 = hsl(155, 59%, 20%)

// // main color (middle of the colour range)
// c-primary = hsl(167, 48%, 44%)

// // colours lighter than the main color (higher = lighter)
// c-primary-l-1 = hsl(167, 55%, 57%)
// c-primary-l-2 = hsl(167, 65%, 69%)
// c-primary-l-3 = hsl(167, 95%, 92%)

// // colours darker than the main color (higher = darker)
// c-primary-d-1 = hsl(167, 60%, 34%)
// c-primary-d-2 = hsl(167, 63%, 27%)
// c-primary-d-3 = hsl(167, 45%, 23%)

// // neutral color (middle of the colour range)
// c-neutral = hsl(207, 18%, 76%)

// c-neutral-l-1 = hsl(212, 19%, 84%)
// c-neutral-l-2 = hsl(207, 22%, 90%)
// c-neutral-l-3 = hsl(210, 17%, 98%)
// c-neutral-l-4 = hsl(210, 24%, 100%)

// c-neutral-d-1 = hsl(215, 15%, 59%)
// c-neutral-d-2 = hsl(213, 12%, 43%)
// c-neutral-d-3 = hsl(215, 22%, 17%)


// // accent color
// c-accent-one = hsl(174, 49%, 46%)

// c-accent-one-l-1 = hsl(178, 57%, 64%)
// c-accent-one-l-2 = hsl(177, 67%, 80%)
// c-accent-one-l-3 = hsl(178, 100%, 95%)

// c-accent-one-d-1 = hsl(174, 55%, 37%)
// c-accent-one-d-2 = hsl(174, 58%, 25%)
// c-accent-one-d-3 = hsl(179, 59%, 17%)

// // danger
// c-danger = hsl(0, 70%, 52%)

// c-danger-l-1 = hsl(0, 69%, 64%)
// c-danger-l-2 = hsl(0, 77%, 81%)
// c-danger-l-3 = hsl(357, 62%, 94%)

// c-danger-d-1 = hsl(0, 70%, 42%)
// c-danger-d-2 = hsl(0, 67%, 32%)
// c-danger-d-3 = hsl(0, 60%, 24%)

// // warning
// c-warning = hsl(43, 87%, 67%)

// c-warning-l-1 = hsl(44, 90%, 80%)
// c-warning-l-2 = hsl(44, 90%, 92%)
// c-warning-l-3 = hsl(44, 100%, 98%)

// c-warning-d-1 = hsl(44, 57%, 52%)
// c-warning-d-2 = hsl(43, 64%, 34%)
// c-warning-d-3 = hsl(44, 66%, 22%)

// // success
// c-success = hsl(145, 55%, 49%)

// c-success-l-1 = hsl(146, 57%, 65%)
// c-success-l-2 = hsl(141, 67%, 80%)
// c-success-l-3 = hsl(142, 81%, 94%)

// c-success-d-1 = hsl(146, 62%, 38%)
// c-success-d-2 = hsl(146, 65%, 28%)
// c-success-d-3 = hsl(155, 59%, 20%)