@font-face
  font-family 'Nunito Sans'
  src url('/fonts/NunitoSans-Bold.ttf')
  font-weight 600

@font-face
  font-family 'Nunito Sans'
  src url('/fonts/NunitoSans-Regular.ttf')
  font-weight 400

font-family-body = 'Nunito Sans'
font-family-heading = 'Nunito Sans'